AddressWebServiceClientProject/src/conf/xml-resources/web-service-references/AddressWebService/wsdl/localhost_8080/WebServiceProject/AddressWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://chapter45/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://chapter45/" name="AddressWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://chapter45/" schemaLocation="http://localhost:8080/WebServiceProject/AddressWebService?xsd=1" />
</xsd:schema>
</types>
<message name="getAddress">
<part name="parameters" element="tns:getAddress" />
</message>
<message name="getAddressResponse">
<part name="parameters" element="tns:getAddressResponse" />
</message>
<message name="storeAddress">
<part name="parameters" element="tns:storeAddress" />
</message>
<message name="storeAddressResponse">
<part name="parameters" element="tns:storeAddressResponse" />
</message>
<message name="initializeJdbc">
<part name="parameters" element="tns:initializeJdbc" />
</message>
<message name="initializeJdbcResponse">
<part name="parameters" element="tns:initializeJdbcResponse" />
</message>
<portType name="AddressService">
<operation name="getAddress">
<input wsam:Action="http://chapter45/AddressService/getAddressRequest" message="tns:getAddress" />
<output wsam:Action="http://chapter45/AddressService/getAddressResponse" message="tns:getAddressResponse" />
</operation>
<operation name="storeAddress">
<input wsam:Action="http://chapter45/AddressService/storeAddressRequest" message="tns:storeAddress" />
<output wsam:Action="http://chapter45/AddressService/storeAddressResponse" message="tns:storeAddressResponse" />
</operation>
<operation name="initializeJdbc">
<input wsam:Action="http://chapter45/AddressService/initializeJdbcRequest" message="tns:initializeJdbc" />
<output wsam:Action="http://chapter45/AddressService/initializeJdbcResponse" message="tns:initializeJdbcResponse" />
</operation>
</portType>
<binding name="AddressServicePortBinding" type="tns:AddressService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getAddress">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="storeAddress">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="initializeJdbc">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="AddressWebService">
<port name="AddressServicePort" binding="tns:AddressServicePortBinding">
<soap:address location="http://localhost:8080/WebServiceProject/AddressWebService" />
</port>
</service>
</definitions>