QuizWebServiceClientProject/src/conf/xml-resources/web-service-references/QuizWebService/wsdl/localhost_8080/WebServiceProject/QuizWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://chapter45/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://chapter45/" name="QuizWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://chapter45/" schemaLocation="http://localhost:8080/WebServiceProject/QuizWebService?xsd=1" />
</xsd:schema>
</types>
<message name="generateQuiz">
<part name="parameters" element="tns:generateQuiz" />
</message>
<message name="generateQuizResponse">
<part name="parameters" element="tns:generateQuizResponse" />
</message>
<message name="getQuestions">
<part name="parameters" element="tns:getQuestions" />
</message>
<message name="getQuestionsResponse">
<part name="parameters" element="tns:getQuestionsResponse" />
</message>
<message name="gradeQuiz">
<part name="parameters" element="tns:gradeQuiz" />
</message>
<message name="gradeQuizResponse">
<part name="parameters" element="tns:gradeQuizResponse" />
</message>
<portType name="QuizService">
<operation name="generateQuiz">
<input wsam:Action="http://chapter45/QuizService/generateQuizRequest" message="tns:generateQuiz" />
<output wsam:Action="http://chapter45/QuizService/generateQuizResponse" message="tns:generateQuizResponse" />
</operation>
<operation name="getQuestions">
<input wsam:Action="http://chapter45/QuizService/getQuestionsRequest" message="tns:getQuestions" />
<output wsam:Action="http://chapter45/QuizService/getQuestionsResponse" message="tns:getQuestionsResponse" />
</operation>
<operation name="gradeQuiz">
<input wsam:Action="http://chapter45/QuizService/gradeQuizRequest" message="tns:gradeQuiz" />
<output wsam:Action="http://chapter45/QuizService/gradeQuizResponse" message="tns:gradeQuizResponse" />
</operation>
</portType>
<binding name="QuizServicePortBinding" type="tns:QuizService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="generateQuiz">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getQuestions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="gradeQuiz">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="QuizWebService">
<port name="QuizServicePort" binding="tns:QuizServicePortBinding">
<soap:address location="http://localhost:8080/WebServiceProject/QuizWebService" />
</port>
</service>
</definitions>